@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--background: #ffffff;
	--foreground: #0f1419;
	--card: #f7f8f8;
	--card-foreground: #0f1419;
	--popover: #ffffff;
	--popover-foreground: #0f1419;
	--primary: #fd6f41;
	--primary-foreground: #ffffff;
	--secondary: #0f1419;
	--secondary-foreground: #ffffff;
	--muted: #e5e5e6;
	--muted-foreground: #0f1419;
	--accent: #e3ecf6;
	--accent-foreground: #fd6f41;
	--destructive: #f4212e;
	--destructive-foreground: #ffffff;
	--border: #c5d0d8;
	--input: #f7f9fa;
	--ring: #fd6f41;
	--chart-1: #fd6f41;
	--chart-2: #ff8904;
	--chart-3: #f7b928;
	--chart-4: #f54900;
	--chart-5: #ffd230;
	--sidebar: #f7f8f8;
	--sidebar-foreground: #0f1419;
	--sidebar-primary: #fd6f41;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #e3ecf6;
	--sidebar-accent-foreground: #fd6f41;
	--sidebar-border: #e1e8ed;
	--sidebar-ring: #fd6f41;
	--font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 1.3rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: rgba(29, 161, 242, 0.15);
	--shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: #000000;
	--foreground: #e7e9ea;
	--card: #17181c;
	--card-foreground: #d9d9d9;
	--popover: #000000;
	--popover-foreground: #e7e9ea;
	--primary: #fd6f41;
	--primary-foreground: #ffffff;
	--secondary: #f0f3f4;
	--secondary-foreground: #0f1419;
	--muted: #181818;
	--muted-foreground: #72767a;
	--accent: #061622;
	--accent-foreground: #fd6f41;
	--destructive: #f4212e;
	--destructive-foreground: #ffffff;
	--border: #3a3d40;
	--input: #22303c;
	--ring: #fd6f41;
	--chart-1: #fd6f41;
	--chart-2: #ff8904;
	--chart-3: #f7b928;
	--chart-4: #f54900;
	--chart-5: #ffd230;
	--sidebar: #17181c;
	--sidebar-foreground: #d9d9d9;
	--sidebar-primary: #fd6f41;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #061622;
	--sidebar-accent-foreground: #fd6f41;
	--sidebar-border: #38444d;
	--sidebar-ring: #fd6f41;
	--font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 1.3rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: rgba(29, 161, 242, 0.25);
	--shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
	--shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
}

@layer utilities {
	/* For Chrome, Safari, and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge, and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='datetime-local'],
input[type='time'],
input[type='date'],
select,
textarea {
	-moz-appearance: textfield;
	appearance: textfield;
	@apply w-full border  border-border rounded-md bg-input text-foreground my-1 py-2 px-3;
}

textarea {
	height: 140px;
}

body {
	@apply bg-background;
}

.loading-icon {
	/* color: teal;
  font-size: 2rem; */
	animation: animate 2s infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(720deg);
	}
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	@apply bg-muted;
}

::-webkit-scrollbar-thumb {
	@apply bg-border;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-muted-foreground;
}

/* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
	scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.scrollbar-hidden {
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.progress-bar-inner {
	height: 100%;
	@apply bg-primary;
	animation: progress 1.5s linear infinite;
}

@keyframes progress {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(100%);
	}
}
